.organizeUsers{
    display:flex ;
    margin-bottom: 20px;
}


.searchSection{
    display: flex;
    width: 85%;
    margin-right: 10px;
}

.searchSection input{
    width: 300px;
    color: white;
    outline: none;
    padding: 10px;
    background: transparent;
    /* border: 2px solid #2c74b3; */
    border-radius: 20px;
}

.users{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.userStyle{
    background: #437dba3d;
    display: flex;
    flex-direction: column;
    width: 182px;
    min-height: 200px;
    align-items: center;
    padding: 16px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px -2px #a7cdff;
}

.image{
    /* box-shadow: 0px 1px 12px -6px; */
    /* filter: drop-shadow(1px 4px 3px grey); */
    margin-bottom: 10px;
}

.image img{
    border-radius: 50%;
    object-fit: cover;
}

.addUsersBtn{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: -18px;
    margin-bottom: 12px;
}
.addUsersBtn input{
    padding: 10px;
    margin-top: 10px;
    font-weight: 700;
    /* width: 40%; */
    color: white;
    background-color: var(--light_blue);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.addUsersBtn input:hover{
    background-color: #39ff00c7;
}


/* .form{
    width: 478px;
    background: aqua;
    padding: 20px;
} */


.form{
    /* width: 370px;
    Display: flex;
    justify-content: center;
    align-items: center;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px; */

    width: 370px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    display: none;
    filter: drop-shadow(2px 4px 6px grey);
    /* font-size: 14px; */
    /* color: grey; */
}
form{
    width: 100%;
}

.form h1{
    color: #0f2027;
    text-align: center;
}

.form .frm-header{
    position: relative;
}

.form center{
    color: black;
}

.frm-header .close{
    position: absolute;
    top: -10px;
    left: 350px;
    font-weight: 200;
    filter: opacity(0.7);
    cursor: pointer;
}
.frm-header .close:hover{
    filter: opacity(1);
}

.btns{
    display: flex;
    justify-content: space-between;
}
.btns input{
    padding: 10px;
    margin-top: 10px;
    width: 40%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
}

#addBtn{
    color: white !important;
    background-color: var(--dark_blue);
    cursor: pointer;
}
#addBtn:hover{
    background-color: var(--light_blue);
}
#resetBtn{
    color: white !important;
    background: #952020;
    cursor: pointer;
}
#resetBtn:hover{
    background: #b32c2c;
}


.data-field span{
    color: black;
}


.data{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.data .fname{
    font-weight: 600;
    font-size: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 196px;
    padding-bottom: 6px;
}

.data .info{
    color: whitesmoke;
    font-size: smaller;
    text-transform: math-auto;
}
.data .uname{
    text-transform: lowercase !important;
}
.data .phone{
    padding-bottom: 20px;

}

.data-field input{
    border: 2px solid #dcdcdc;
	border-radius: 4px;
	/* display: block; */
	font-size: 14px;
	padding: 10px;
	width: calc(100% - 30px);
    margin-bottom: 10px;
    color: black;
}


.data-field input:focus{
    outline: none;
}

.userStyle input{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 2px solid grey;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: var(--light_blue);
    cursor: pointer;
}

.userStyle input:hover{
    background: rgb(194 41 41);
}

.group-data-field{
    display: flex;
}
.msg{
    display: none;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    background-color: #39ff00;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50px, 50px);
}